<appSettings>
	<add key="HostName" value="Sisna" />
	<add key="MailServer" value="mail.sisna.com" />
	<add key="MailUser" value="tayazo" />
	<add key="MailPassword" value="hello" />
	<!-- redirect all e-mail to
	<add key="RedirectMailTo" value="vasst@webott.com" /> -->
	<add key="ErrorMailTo" value="vasst@webott.com, websupport@sisna.com" />
</appSettings>