<appSettings>
	<add key="HostName" value="Jason" />
	<add key="MailServer" value="mail.cableone.net" />
	<!-- redirect all e-mail to -->
	<add key="RedirectMailTo" value="vasst@webott.com" />
	<add key="ErrorMailTo" value="vasst@webott.com" />
	<!-- use to display old contests -->
	<add key="ContestActiveDate" value="1/1/02" />
</appSettings>