<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="host.config">
		<!-- defaults -->
		<add key="NewAssetCount" value="10" />
		<add key="TempDataCount" value="10" />
		<add key="PageSizeFlexible" value="5" />
		<add key="SearchPageSize" value="10" />
		<add key="SearchResultCount" value="15" />
		<add key="MaxFileUploadKB" value="250" />
		<add key="MaxPhotoUploadKB" value="150" />
		<add key="MaxPersonalImageWidth" value="300" />
		<add key="MaxCartAgeDays" value="14" />
		<add key="ValidationCodeLength" value="16" />
		<add key="SaveDelayMinutes" value="10" />
		<add key="WebPartsMinimized" value="True" />
	    
		<!-- folders and pages -->
		<add key="ContentFolder" value="content" />
		<add key="DataFolder" value="data" />
		<add key="MailDataFolder" value="/registration/admin/data" />
		<add key="ResourceFolder" value="files/contributed" />
		<add key="UploadFolder" value="files/pending" />
		<add key="ContestFolder" value="files/contest" />
		<add key="GeneratedImageFolder" value="images/generated" />
		<add key="UserImageFolder" value="images/person" />
		<add key="LoginPage" value="~/signin.aspx" />
		<add key="NoCookiePage" value="~/privacy.aspx?cookies=no#cookies" />
	    
		<!-- e-mail settings -->
		<add key="MailFrom" value="info@SundanceMediaGroup.com" />
		<add key="ConfirmationTemplate" value="~/content/e-mail/ConfirmationCode.txt" />
		<add key="AssetApproveTemplate" value="~/content/e-mail/ResourceApproved.txt" />
		<add key="AssetDenyTemplate" value="~/content/e-mail/ResourceDenied.txt" />
		<add key="ContestEntryTemplate" value="~/content/e-mail/ContestEntry.txt" />
		<add key="EntryApproveTemplate" value="~/content/e-mail/EntryApproved.txt" />
		<add key="EntryDenyTemplate" value="~/content/e-mail/EntryDenied.txt" />
		<add key="PasswordTemplate" value="~/content/e-mail/ForgotPassword.txt" />
		<add key="PermissionsTemplate" value="~/content/e-mail/Permissions.htm" />
		<add key="ErrorTemplate" value="~/content/e-mail/Error.htm" />
		<add key="ErrorFrequency" value="5" />
	    
		<!-- settings for corner graphics -->
		<add key="CornerRadius" value="10" />
		<add key="CornerColor" value="#7a1314" />
		<add key="CornerBorderColor" value="#feb800" />
		<add key="CornerBorderWidth" value="1" />
	    
		<!-- settings for rating star graphics -->
		<add key="StarRadius" value="7" />
		<add key="StarColor" value="#fe0" />
		<add key="StarBurstColor" value="#f90" />
		<add key="StarBorderColor" value="#8ac" />
		<add key="StarBorderWidth" value="1" />
	    
		<!-- settings for toggle graphics -->
		<add key="ToggleHeight" value="11" />
		<add key="ToggleColor" value="#fff" />
	    
		<!-- settings for button graphics -->
		<add key="ButtonHeight" value="14" />
		<add key="ButtonColor" value="#468" />
		<add key="ButtonTextColor" value="#ffffff" />
		<add key="ButtonHighlightColor" value="#e80" />
		<add key="ButtonTemplate" value="~/images/templates/bluebevel.png" />
	    
		<!-- data store settings -->
		<add key="LegacyStore" value="~/data/legacy.mdb" />
		<add key="QuotesStore" value="~/data/quotes.xml" />
		<add key="FeaturesStore" value="~/data/features.xml" />
		<add key="MenuStore" value="~/sitemap.xml" />
		<add key="ActivityLogStore" value="~/data/activityLog.mdb" />
		<add key="ErrorLogStore" value="~/data/errorLog.mdb" />
		<add key="MailListStore" value="~/registration/admin/data/customerZRQ.mdb" />
		
	</appSettings>
	<system.web>
		<compilation defaultLanguage="vb" debug="true" />
		<customErrors mode="Off" />
		<authentication mode="Forms" /> 
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
		<sessionState 
				mode="InProc"
				stateConnectionString="tcpip=127.0.0.1:42424"
				sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
				cookieless="false" 
				timeout="20" 
		/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages enableSessionState="true"
			   enableViewState="false"
			   enableViewStateMac="false"
			   validateRequest="false"
		/>
		<httpHandlers>
			<add verb="GET" path="cachedimage.axd" type="AMP.ImageHandler,AMP.VASST" />
		</httpHandlers>
		<browserCaps>
			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
				browser=Gecko
				<filter>
					<case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
						type=${type}
					</case>
					<case> <!-- plain Mozilla if no VendorProductToken found -->
						type=Mozilla
					</case>
				</filter>
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
					version=${version}
					majorversion=0${major}
					minorversion=0${minor}
					<case match="^b" with="${letters}">
						beta=true
					</case>
				</case>
			</case>

			<!-- AppleWebKit Based Browsers (Safari...) //-->
			<case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
				browser=AppleWebKit
				version=${version}
				majorversion=0${major}
				minorversion=0.${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
					type=${type}
				</case>
			</case>

			<!-- Konqueror //-->
			<case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
				browser=Konqueror
				version=${version}
				majorversion=0${major}
				minorversion=0${minor}
				platform=${platform}
				type=Konqueror
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
			</case>

			<!-- Opera -->				
			<case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
				browser=Opera
				version=${version}
				majorversion=${major}
				minorversion=${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				ecmascriptversion=1.1
				isMobileDevice="true"

				<filter match="[7-9]" with="${major}">
					tagwriter=System.Web.UI.HtmlTextWriter
				</filter>
				<filter match="[4-9]" with="${major}">
					ecmascriptversion=1.3
					css1=true
					css2=true
					xml=true

					<filter match="[5-9]" with="${major}">
						w3cdomversion=1.0
					</filter>
				</filter>
				<filter>
					<case match="7" with="${major}">
						<filter>
							<case match="[5-9]" with="${minorint}">
								ecmascriptversion=1.5
							</case>
							<case>
								ecmascriptversion=1.4
							</case>
						</filter>
					</case>
					<case match="[8-9]" with="${major}">
						ecmascriptversion=1.5
					</case>
				</filter>
				<filter match="^b" with="${letters}">
					beta=true
				</filter>
			</case>
			
			<!-- IE -->				
			<case match="^Mozilla[^(]*\(compatible; MSIE (?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))(?'extra'.*)">

				browser=IE
				version=${version}
				majorversion=${major}
				minorversion=${minor}

				<case match="^[5-9]\." with="${version}">
					frames=true
					tables=true
					cookies=true
					backgroundsounds=true
					vbscript=true
					javascript=true
					javaapplets=true
					activexcontrols=true
					tagwriter=System.Web.UI.HtmlTextWriter
					ecmascriptversion=1.2
					msdomversion=${major}${minor}
					w3cdomversion=1.0
					css1=true
					css2=true
					xml=true
					isMobileDevice="true"
					<filter with="${letters}" match="^b">
						beta=true
					</filter>
					<filter with="${extra}" match="Crawler">
						crawler=true
					</filter>
				</case>
				<case match="^4\." with="${version}">
					frames=true
					tables=true
					cookies=true
					backgroundsounds=true
					vbscript=true
					javascript=true
					javaapplets=true
					activexcontrols=true
					tagwriter=System.Web.UI.HtmlTextWriter
					ecmascriptversion=1.2
					msdomversion=4.0
					cdf=true
					css1=true

					<filter with="${letters}" match="^[ab]">
						beta=true
					</filter>
					<filter with="${extra}" match="Crawler">
						crawler=true
					</filter>
					<filter match="; AOL" with="${extra}">
						aol=true
					</filter>
					<filter match="; Update a;" with="${extra}">
						authenticodeupdate=true
					</filter>
				</case>
				<case match="^3\." with="${version}">
					frames=true
					tables=true
					cookies=true
					backgroundsounds=true
					vbscript=true
					javascript=true
					javaapplets=true
					activexcontrols=true
					ecmascriptversion=1.0
					css1=true

					<filter match="true" with="%{win16}">
						javaapplets=false
						activexcontrols=false
						<filter match="^a" with="${letters}">
							beta=true
							vbscript=false
							javascript=false
						</filter>
					</filter>
					<filter match="Mac68K|MacPPC" with="%{platform}">
						vbscript=false
						activexcontrols=false
					</filter>
					<filter match="^B" with="${letters}">
						beta=true
					</filter>
					<filter match="; AK;" with="${extra}">
						ak=true
					</filter>
					<filter match="; SK;" with="${extra}">
						sk=true
					</filter>
					<filter match="; Update a;" with="${extra}">
						authenticodeupdate=true
					</filter>
					<filter match="; AOL" with="${extra}">
						aol=true
					</filter>
				</case>
				<case match="^2\." with="${version}">
					tables=true
					cookies=true
					backgroundsounds=true

					<filter match="^b" with="${letters}">
						beta=true
					</filter>
					<filter match="; AOL" with="${extra}">
						aol=true
					</filter>
				</case>
				<case match="^1\.5" with="${version}">
					tables=true
					cookies=true
				</case>
			</case>
			
			<!-- Pocket IE -->
			<case match="^Microsoft Pocket Internet Explorer/0.6">
				browser=PIE
				version=1.0
				majorversion=1
				minorversion=0
				tables=true
				backgroundsounds=true
				platform=WinCE
				isMobileDevice="true"

			</case>
			
			<!-- Pocket IE -->
			<case match="^Mozilla[^(]*\(compatible; MSPIE (?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))(?'extra'.*)">
				browser=PIE
				version=${version}
				majorversion=${major}
				minorversion=${minor}
				tables=true
				backgroundsounds=true
				cookies=true
				isMobileDevice="true"

				<case match="2\." with="${version}">
					frames=true
				</case>
			</case>
			
			<!-- Netscape -->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+ )?Netscape6/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
				browser=Netscape
				version=${version}
				majorversion=${major}
				minorversion=${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true

				<filter match="^b" with="${letters}">
					beta=true
				</filter>
			</case>

			<!-- Oracle PowerBrowser -->
			<case match="^Mozilla/2\.01 \(Compatible\) Oracle\(tm\) PowerBrowser\(tm\)/1\.0a">
				browser=PowerBrowser
				version=1.5
				majorversion=1
				minorversion=.5
				frames=true
				tables=true
				cookies=true
				vbscript=true
				javascript=true
				javaapplets=true
				platform=Win95
			</case>
			
			<!-- Netscape -->
			<case match="^Mozilla/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*">
				browser=Netscape
				version=${version}
				majorversion=${major}
				minorversion=${minor}

				<filter match="^b" with="${letters}">
					beta=true
				</filter>
				<filter match="Gold" with="${letters}">
					gold=true
				</filter>
				<case match="^[4-9]\." with="${version}">
					frames=true
					tables=true
					cookies=true
					javascript=true
					javaapplets=true
					ecmascriptversion=1.2
					css1=true

					<filter match="^[5-9]*" with="${minor}">
						ecmascriptversion=1.3
					</filter>
				</case>
				<case match="^[2-3]\." with="${version}">
					frames=true
					tables=true
					cookies=true
					javascript=true
					javaapplets=true
					ecmascriptversion=1.1
				</case>
			</case>
		</browserCaps> 
	</system.web>
</configuration>
