h1.title { line-height: 1em; margin-top: 8px; _margin-top: 15px; }
.about {
	display: block;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 5px;
	color: #8ac;
	margin-left: 10px;
}
.description {
	display: block;
	margin: 10px 0px 0px 10px;
	font-size: 10pt;
}

/* ballot -------------------------------------------------------- */

fieldset.ballot {
	position: relative;
	float: right;
	margin: 10px 0px 5px 5px;
	padding-bottom: 4px;
	width: auto;
	_border-top: none;						/* IE exception */
	width: 200px;
}
#ballot {
	width: 100%;
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	color: #ddd;
 }
#ballot div span { display: block; margin-bottom: 4px; }
#ballot ol { padding-left: 2em; margin: 3px 0px -2px 0px; }
#ballot ol li {	margin: 0; padding: 0; }
#ballot select { font-weight: normal; width: 150px; }
#ballot select option { _background-color: #444; }
#ballot input { margin-top: 8px; }
.noVote { display: block; margin: 12px; }

/* votes --------------------------------------------------------- */

#contestants { clear: both; width: 100%; }
#contestants .heading {
	display: block;
	margin-top: 5px;
	font-family: Trebuchet MS, Tahoma, Arial;
	font-size: 14pt;
	text-align: center;
	margin-bottom: 5px;
	color: #999;
}
#votes { position: relative; width: 100%; padding-bottom: 9px; font-size: 10pt; color: #999; }
#votes td { padding-bottom: 2px; }
#votes .title {
	text-align: right;
	font-size: 10pt;
	width: 15em;
	white-space: nowrap;
	padding-right: 4px;
	vertical-align: top;
}
#votes .graph {
	padding-top: 2px;
	position: relative;
	white-space: nowrap;
	width: auto;
}
#votes .graph .bar {
	display: inline;
	color: #79b;
	height: 13px;
	line-height: 9pt;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	border-top: 1px solid #68a;
	border-left: 1px solid #357;
	border-bottom: 1px solid #012;
	border-right: 1px solid #012;
	background-image: url(../images/gradient.aspx?c1=468&c2=012&w=1&h=13&d=ttb);
	background-repeat: repeat-x;
	float: left;
	margin-right: 4px;
}
/* prizes -------------------------------------------------------- */

#prizes {
	float: right;
	margin: 0px 0px 5px 5px;
	clear: right;
	width: 200px;
}
#prizes dt { font-family: Trebuchet MS, Tahoma, Arial; color: #fa0; font-weight: bold; }
#prizes dd { font-size: 9pt; color: #ffb; margin-left: 1em; }

/* rules --------------------------------------------------------- */

#rules {
	
	float: right;
	margin: 10px 0px 5px 5px;
	text-align: center;
	border-left: 1px solid #357;
	width: 30%;
	clear: none;
}
#rules div {
	font-family: Trebuchet MS, Tahoma, Arial;
	font-size: 13pt;
	color: #79b;
}
#rules ul { text-align: left; margin: 0 0 4px 10px; padding-left: 10px;  }
#rules ul li { font-size: 9pt; color: #bbb; }