DIV.ItemName {
	font-family: Impact, Arial, Helvetica;
	font-size: 20pt;
	text-align: left;
	margin-right: 10px;
}
DIV.ItemOwner {
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 4px;
	text-align: left;
}
TD.ItemText {
	font-size: 9pt;
	text-align: left;
	width: 300px;
}
TD.ItemRank {
	font-size: 9pt;
	text-align: center;
}
TD.Rank {
	color: #6699FF;
	font-size: 9pt;
	border-top: 1px solid #6699FF;
}
TD.Comment {
	padding-left: 15px;
	font-size: 9pt;
	padding-bottom: 15px;
	padding-top: 5px;
}
TD.Date {
	border-top: 1px solid #6699FF;
}
TD.UserName {
	border-top: 1px solid #6699FF;
}
DIV.Note {
	font-size: 8pt;
	color: #aaaaaa;
}
TEXTAREA.Comment {
	font-size: 9pt;
	color: #ffffff;
	background-color: #444444;
	padding-left: 4px;
	padding-right: 4px;
}