DIV.AdminMenuBar {
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	border-bottom: 1px solid #6699FF;
	margin-bottom: 4px;
	background-color: #444444;
}
TD.dbAction {
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
}
TD.dbInfo {
	font-size: 9pt;
	background-color: #444444;
	border-top: 1px solid #feb800;
}
TD.QueryCell {
	font-size: 8pt;
	text-align: left;
	border-bottom: 1px solid <%=g_sCOLOR_EDGE%>;
	border-right: 1px solid #aaaaaa;
	padding: 3px;
}
TD.QueryHead {
	font-size: 9pt;
	font-weight: bold;
	padding: 4px;
	border-right: 1px solid <%=g_sCOLOR_TITLE%>;
	border-bottom: 2px solid <%=g_sCOLOR_TITLE%>;
}