DIV.AdminMenuBar {
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	border-bottom: 1px solid #444499;
	background-color: #ccccff;
}
TD.dbAction {
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
}
TD.dbInfo {
	font-size: 9pt;
	background-color: #eeeeee;
	border-top: 1px solid #ed6c2c;
}
TD.QueryCell {
	font-size: 8pt;
	text-align: left;
	border-bottom: 1px solid #ed6c2c;
	border-right: 1px solid #aaaaaa;
	padding: 3px;
}
TD.QueryHead {
	font-size: 9pt;
	font-weight: bold;
	padding: 4px;
	border-right: 1px solid #4679df;
	border-bottom: 2px solid #4679df;
}